.image-preview-card {
	align-items: center;
	background-color: #fff;
	background-size: cover;
	background-position: 50%;
	color: #ecf0f1;
	display: flex;
	flex-flow: column;
	height: 300px;
	justify-content: center;
	overflow: hidden;
	width: 300px;
}